<mat-accordion multi="true" *ngIf="posts.length>0 else nopost">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{post.title}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>{{post.content}}</p>
    <mat-action-row>
      <button mat-raised-button color="primary">EDIT</button>&nbsp; &nbsp;
      <button mat-raised-button color="warn">DELETE</button>
    </mat-action-row>
    </mat-expansion-panel>
    </mat-accordion>
    <ng-template #nopost>
      <p class="mat-body-1 infotext">No Post Yet !!</p>
    </ng-template>

